.pokemonsDescr {
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
}

.pokemonsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
